.main {
  width: 100%;
  max-width: 45rem;
  padding: 1rem;
  margin: 0 auto;
}

.title {
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin: 1rem;
}

.description,
.descriptionAlert {
  width: 100%;
  text-align: center;
}

.description {
  margin: 2rem 0;
}

.descriptionAlert {
  color: #4a2574;
  font-weight: bold;
  margin: 1rem 0;
}
